@import 'base/modern-normalize';
@import 'utils/variables';
@import 'base/defaults';
@import 'base/fonts';
@import 'utils/mixins';

/* Common logo */

.logo {
  font-family: $second-font-family;
  font-weight: $bold-font-weight;
  font-size: 26px;
  line-height: 1.2;

  color: $logo-black-color;
}

.logo-web {
  color: $accent-color;
}

.logo-studio {
  color: $white-text-color;
}

/* Common nav */
.header {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.header-logo {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    margin-right: 93px;
  }
}

.header-nav {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.nav {
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-right: 305px;
  }
}

.nav-link {
  @media screen and (min-width: 1200px) {
    display: block;
    padding: 32px 0;
  }

  font-weight: $medium-font-weight;
  font-size: $font-size-14;
  line-height: $line-height-1-14;
  letter-spacing: 0.02em;

  color: inherit;

  @include transit;
}

.nav-item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: $accent-color;

  @include transit;
}

.nav-link--current.link {
  position: relative;
  color: $accent-color;
}

.nav-link--inactive {
  position: relative;
}

.nav-link--current::after,
.nav-link--inactive::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: $accent-color;
  border-radius: 2px;
}

.nav-link--inactive::after {
  opacity: 0;
  @include transit(opacity);
}

.nav-link--inactive:hover::after,
.nav-link--inactive:focus::after {
  opacity: 1;
  @include transit(opacity);
}

.contacts-link {
  @media screen and (min-width: 1200px) {
    display: inline-flex;
    align-items: center;
  }

  font-weight: $medium-font-weight;
  font-size: $font-size-14;
  line-height: $line-height-1-14;
  letter-spacing: 0.02em;

  color: $second-text-color;

  @include transit;
}

.contacts {
  @media screen and (min-width: 1200px) {
    display: inline-flex;
    align-items: center;
  }
}

.contacts-item--position {
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Index main */
/* Hero */
.overlay-hero {
  @media screen and (min-width: 1200px) {
    height: 600px;
    max-width: 1600px;
    margin: 0 auto;
  }

  background-color: $dark-background-color;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg-image.jpg), url(../images/overlay-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero {
  text-align: center;

  @media screen and (min-width: 480px) {
    padding: 118px 0;
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.hero-title {
  margin-bottom: 30px;

  font-weight: $heavy-font-weight;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $white-text-color;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-button {
  padding: 10px 32px;

  // display: flex;
  // align-items: center;

  cursor: pointer;

  font-family: inherit;
  font-weight: $bold-font-weight;
  font-size: $font-size-16;
  line-height: $line-height-1-86;
  letter-spacing: 0.06em;

  color: $white-text-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-color: $accent-color;
  border-radius: 4px;
  border-style: none;
}

/* Advantages*/
.advantages {
  // padding: 94px 0;
}

.advantages-title {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.advantages-list {
  // display: flex;
  // flex-basis: calc((100% - 90px) / 4);
}

.advantages-item:not(:last-child) {
  // margin-right: 30px;
}

.advantages-img {
  display: flex;
  justify-content: center;
  align-items: center;

  // margin-bottom: 30px;

  height: 120px;
  border-radius: 4px;

  background-color: $second-background-color;
}

.advantages-subtitle {
  // margin-bottom: 10px;
  font-weight: $bold-font-weight;
  font-size: $font-size-14;
  line-height: $line-height-1-14;
  text-transform: uppercase;
}

.advantages-text {
  color: $second-text-color;

  font-size: $font-size-14;
  line-height: $line-height-1-71;
}

/* Specialty */
.specialty {
  // padding-bottom: 94px;
}

.specialty-title {
  // margin-bottom: 50px;

  font-weight: $bold-font-weight;
  font-size: $font-size-36;
  line-height: $line-height-1-17;
  text-align: center;
}

.specialty-list {
  // display: flex;
}

.specialty-item:not(:last-child) {
  // margin-right: 30px;
}

.specialty-thumb {
  position: relative;
}

.specialty-img {
  // display: block;
}

.specialty-div {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.specialty-subtitle {
  font-weight: $bold-font-weight;
  font-size: $font-size-14;
  line-height: $line-height-1-14;
  text-align: center;
  text-transform: uppercase;

  color: $white-text-color;
}

/* Team */
.team {
  padding: 94px 0;
  background-color: $second-background-color;
}

.team-title {
  // margin-bottom: 50px;

  font-weight: $bold-font-weight;
  font-size: $font-size-36;
  line-height: $line-height-1-17;
  text-align: center;
}

.workers {
  // display: flex;

  font-weight: $medium-font-weight;
  font-size: $font-size-16;
  line-height: 1.19;
}

.workers-item {
  background-color: $main-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.workers-item:not(:last-child) {
  // margin-right: 30px;
}

.workers-name {
  // margin-top: 30px;
  // margin-bottom: 10px;
  text-align: center;
}

.workers-text {
  // margin-bottom: 16px;

  text-align: center;

  color: $second-text-color;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  margin-bottom: 30px;
}

.social-link.link {
  display: inline-flex;
  align-items: center;

  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: $icon-inactive-color;
  background-color: $main-background-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  color: $white-text-color;
  background-color: $accent-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: currentColor;
}

/* Customers */
.customers {
  // padding: 94px 0;
}
.customers-title {
  // margin-bottom: 50px;

  font-weight: $bold-font-weight;
  font-size: $font-size-36;
  line-height: $line-height-1-17;
  text-align: center;

  color: $first-text-color;
}

.customers-list {
  // display: flex;
}

.customers-link.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 90px;
  color: $icon-inactive-color;
  border: 1px solid $icon-inactive-color;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  color: $accent-color;
  border: 1px solid $accent-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item:not(:last-child) {
  // margin-right: 30px;
}

.customers-icon {
  fill: currentColor;
}

/* Portfolio header */
.header--portfolio {
  border-bottom: 1px solid #ececec;
}

/* Portfolio main */
.filter-and-examples {
  padding: 94px 0;
}

/* Filter */
.filter {
  // display: flex;
  // justify-content: center;
  // margin-bottom: 50px;
  // flex-wrap: wrap;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  padding: 6px 22px;

  border-radius: 4px;
  border: none;

  cursor: pointer;

  font-family: $main-font-family;
  text-align: center;
  font-weight: $medium-font-weight;
  font-size: $font-size-16;
  line-height: 1.62;

  color: $first-text-color;
  background-color: $bottoms-inactive-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:focus,
.filter-button:hover {
  color: $white-text-color;
  background-color: $accent-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Work examples */
.examples-title {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.examples {
  // display: flex;
  // flex-wrap: wrap;
}

.examples-item {
  // flex-basis: calc((100% - 60px) / 3);
  // margin-right: 30px;
  // margin-bottom: 30px;
}

.examples-item:nth-child(3n) {
  // margin-right: 0;
}

.examples-item:nth-last-child(-n + 3) {
  // margin-bottom: 0;
}

.examples-link {
  display: block;
  @include transit(box-shadow);
}

.examples-link:hover,
.examples-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  @include transit(box-shadow);
}

.examples-thumb {
  position: relative;
  overflow: hidden;
}

.examples-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: 0;
  @include transit(transform);
}

.examples-link:hover .examples-overlay,
.examples-link:focus .examples-overlay {
  transform: translateY(-100%);

  @include transit(transform);
}

.examples-overlay .overlay-text {
  padding: 63px 24px;

  font-size: $font-size-18;
  line-height: 1.55;
  color: $white-text-color;
}

.examples-text {
  position: relative;
  padding: 20px 0 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.examples-text h2 {
  margin-bottom: 4px;

  font-weight: $bold-font-weight;
  font-size: $font-size-18;
  line-height: 2;
  letter-spacing: 0.06em;

  color: $first-text-color;
}

.examples-text p {
  font-size: $font-size-16;
  line-height: 1.9;

  color: $second-text-color;
}

/* Common footer */
.footer-section {
  background-color: $dark-background-color;
}

.footer-container {
  // display: flex;
}

/* Ð¡ontacts in the footer */
.contacts-footer {
  padding: 60px 0;
  margin-right: 70px;
}

.logo--footer {
  margin-bottom: 10px;
}

.footer-list {
  padding-top: 10px;
}

.footer-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-list__address {
  color: $white-text-color;

  font-style: inherit;
  font-size: $font-size-14;
  line-height: $line-height-1-71;
}

.footer-list__contact {
  color: $footer-contacts-color;

  font-size: $font-size-14;
  line-height: $line-height-1-71;
}

/* Social media in the footer */
.join-footer {
  padding-top: 72px;
  margin-left: auto;
}
.join-title {
  margin-bottom: 20px;
}

.join-title,
.label-text {
  font-weight: $bold-font-weight;
  font-size: $font-size-14;
  line-height: $line-height-1-14;
  text-transform: uppercase;
  color: $white-text-color;
}

.join {
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-right: 93px;
}

.join-link.link {
  display: inline-flex;
  align-items: center;

  height: 44px;
  width: 44px;
  color: $white-text-color;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  @include transit(background-color);
}

.join-icon {
  fill: currentColor;
}

.join-link:hover,
.join-link:focus {
  background-color: $accent-color;

  @include transit(background-color);
}

.join-item:not(:last-child) {
  margin-right: 10px;
}

/* Subscribe in the footer */

.subscribe-field {
  // display: inline-flex;
  // flex-direction: column;
  // padding-top: 72px;
}

.label-text {
  // display: block;
  // padding-bottom: 20px;
}

.label-input {
  width: 359px;
  padding: 15px 0 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  color: $white-text-color;
  background-color: $dark-background-color;
}

.label-input::placeholder {
  font-weight: $normal-font-weight;
  font-size: $font-size-16;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  // display: flex;
  // align-items: center;
  // text-align: center;

  margin-top: 108px;
  margin-left: 12px;
  padding: 10px 28px 10px 29px;

  font-weight: $bold-font-weight;
  font-size: $font-size-16;
  line-height: 1.88;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  color: $white-text-color;
  background-color: $accent-color;
}

.subscribe-icon {
  margin-left: 10px;
  fill: currentColor;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  @include transit(opacity);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;

  @include transit(opacity);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  height: 581px;
  width: 528px;
  background-color: $main-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  @include transit(transform);
}

.close-contaiter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 2px;
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  padding: 0;

  color: $logo-black-color;
  background-color: $main-background-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  @include transit;
}

.close-icon {
  fill: currentColor;
}

.close-button:hover,
.close-button:focus {
  color: $accent-color;

  @include transit;
}

.modal-title {
  font-weight: $bold-font-weight;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: $first-text-color;
}

.user-form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.user-form__field {
  display: flex;
  flex-direction: column;
}

.user-form__input {
  height: 40px;
  width: 448px;
  padding: 12px 12px 12px 42px;
}

.user-form__comment {
  padding: 12px 16px 12px;
}

.user-form__input,
.user-form__comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  @include transit(border);
}

.user-form__field:nth-child(-n + 3) {
  margin-bottom: 10px;
}

.user-form__field:nth-child(4) {
  margin-bottom: 20px;
}

.user-form__input:hover,
.user-form__input:focus,
.user-form__field:hover .user-form__input,
.user-form__field:focus .user-form__input,
.user-form__comment:hover,
.user-form__comment:focus,
.user-form__field:hover .user-form__comment,
.user-form__field:focus .user-form__comment {
  border: 1px solid $accent-color;
  cursor: pointer;

  @include transit(border);
}

.user-form__icon:hover,
.user-form__icon:focus,
.user-form__input:hover .user-form__icon,
.user-form__input:focus .user-form__icon,
.user-form__field:hover .user-form__icon,
.user-form__field:focus-within .user-form__icon {
  color: $accent-color;
  cursor: pointer;

  @include transit;
}

.user-form__label-title {
  display: flex;
  padding-bottom: 4px;

  font-size: 12px;
  line-height: $line-height-1-17;
  letter-spacing: 0.01em;

  color: $second-text-color;
}

.user-form--position {
  position: relative;
}

.user-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  color: $first-text-color;
  fill: currentColor;
}

.user-form__comment {
  display: block;
  resize: none;
  height: 120px;
  width: 448px;
}

.user-form__comment::placeholder {
  font-size: $font-size-14;
  line-height: $line-height-1-17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.agree-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.agree-field__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agree-field__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid $first-text-color;
  border-radius: 2px;
}

.agree-field__checkbox:checked + .agree-field__icon {
  background-color: $accent-color;
  background-image: url(../images/check.svg);
  background-size: contain;
  border: 2px solid transparent;
  background-origin: border-box;
}

.agree-field__label {
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.agree-field__text {
  font-size: $font-size-14;
  line-height: $line-height-1-71;
  color: $second-text-color;
}

.agree-field__link {
  font-size: $font-size-14;
  line-height: $line-height-1-71;

  text-decoration-skip-ink: none;
  color: $accent-color;
}

.button-field {
  display: flex;
  justify-content: center;
}

.send-button {
  padding: 10px 55px 10px 56px;
  display: flex;
  align-items: center;
  text-align: center;

  cursor: pointer;

  font-family: inherit;
  font-weight: $bold-font-weight;
  font-size: $font-size-16;
  line-height: $line-height-1-86;

  letter-spacing: 0.06em;

  color: $white-text-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-color: $accent-color;
  border-radius: 4px;
  border-style: none;
}
