/* Work examples */
.examples-title {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.examples {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    z-index: -1;
  }

  &-item {
    width: 100%;

    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 3 - 30px);
    }
  }

  &-link {
    display: block;
    @include transit(box-shadow);
  }

  &-link:hover,
  &-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    @include transit(box-shadow);
  }

  &-thumb {
    position: relative;
    overflow: hidden;
  }

  &-thumb img {
    display: block;
    padding: 0;
  }

  &-overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: 0;
    @include transit(transform);
  }

  &-link:hover &-overlay,
  &-link:focus &-overlay {
    transform: translateY(-100%);

    @include transit(transform);
  }

  &-overlay .overlay-text {
    padding: 63px 24px;

    font-size: $font-size-18;
    line-height: 1.55;
    color: $white-text-color;
  }

  &-text {
    position: relative;
    padding: 20px 0 20px 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
  }

  &-text h2 {
    margin-bottom: 4px;

    font-weight: $bold-font-weight;
    font-size: $font-size-18;
    line-height: 2;
    letter-spacing: 0.06em;

    color: $first-text-color;
  }

  &-text p {
    font-size: $font-size-16;
    line-height: 1.9;

    color: $second-text-color;
  }
}
