.filter-and-examples {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

/* Filter */
.filter {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  flex-wrap: wrap;

  @media screen and (max-width: 767px) {
    &-item:nth-child(-n + 3) {
      margin-bottom: 15px;
    }
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

  &-item:not(:last-child) {
    margin-right: 8px;
  }

  &-button {
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    cursor: pointer;

    font-family: $main-font-family;
    text-align: center;
    font-weight: $medium-font-weight;
    font-size: $font-size-16;
    line-height: 1.62;

    color: $first-text-color;
    background-color: $bottoms-inactive-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-button:focus,
  &-button:hover {
    color: $white-text-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

// .filter-and-examples {
//   padding: 94px 0;
// }

// /* Filter */
// .filter {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 50px;
//   flex-wrap: wrap;

//   &-item:not(:last-child) {
//     margin-right: 8px;
//   }
// }
