.mobile-container {
  padding: 48px 40px;
  letter-spacing: 0.02em;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  z-index: 1;

  background-color: $main-background-color;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button {
  color: $logo-black-color;
  @include transit;
}

.menu-button:hover,
.menu-button:focus {
  color: $accent-color;
  @include transit;
}

.menu-button__svg {
  z-index: 2;
}

.menu-button__icon-menu,
.menu-button__icon-cross {
  fill: currentColor;
}

.mobile-container {
  display: none;
}

.mobile-container.is-open {
  display: block;
}

.mobile-nav__list {
  margin-bottom: 302px;
}

.mobile-nav__link {
  font-weight: $medium-font-weight;
  font-size: 40px;
  line-height: 1.18;

  color: $first-text-color;
  @include transit;
}

.mobile-nav__link:hover,
.mobile-nav__link:focus {
  color: $accent-color;
  @include transit;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 37.71px;
}

.mobile-nav__link--current.link {
  color: $accent-color;
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__link--tel {
  font-weight: $medium-font-weight;
  font-size: calc(17px + (34 - 17) * (100vw - 300px) / (440 - 300));
  line-height: 1.18;
  color: $accent-color;
}

.mobile-contacts__link--mail {
  font-weight: $medium-font-weight;
  font-size: 24px;
  line-height: $line-height-1-17;
  color: $second-text-color;
}

.mobile-social {
  display: flex;
}

.mobile-social__link.link {
  font-weight: $medium-font-weight;
  font-size: calc(9px + (18 - 9) * (100vw - 300px) / (440 - 300));
  line-height: 1.22;

  color: $accent-color;
}

.mobile-social__item {
  padding: 0 10px;
}

.mobile-social__item:first-child {
  padding-left: 0;
}

.mobile-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
