/* Common footer */

.footer-section {
  background-color: $dark-background-color;
}

.footer-container {
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-direction: column;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}

/* Сontacts in the footer */
.contacts-and-join {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.contacts-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-left: 76px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 0;
  }
}

.footer-list {
  margin-top: 20px;

  &__item:not(:last-child) {
    margin-bottom: 8px;
  }

  &__address {
    color: $white-text-color;

    font-style: normal;
    font-size: $font-size-14;
    line-height: $line-height-1-71;
  }

  &__contact {
    color: $footer-contacts-color;

    font-size: $font-size-14;
    line-height: $line-height-1-71;
  }
}
