/* Social */
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;

  &-item:not(:last-child) {
    margin-right: 10px;
  }

  &-link.link {
    display: inline-flex;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    color: $icon-inactive-color;
    background-color: $main-background-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-link:hover,
  &-link:focus {
    color: $white-text-color;
    background-color: $accent-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-icon {
    fill: currentColor;
  }
}

// .social {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 0 32px;
//   margin-bottom: 30px;

//   &-link.link {
//     display: inline-flex;
//     align-items: center;
//     height: 44px;
//     width: 44px;
//     border-radius: 50%;
//     color: $icon-inactive-color;
//     background-color: $main-background-color;

//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//       background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }

//   &-link:hover,
//   &-link:focus {
//     color: $white-text-color;
//     background-color: $accent-color;

//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//       background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }

//   &-icon {
//     fill: currentColor;
//   }
// }
