/* Specialty */
.specialty {
  @media screen and (max-width: 1199px) {
    display: none;
  }

  padding-bottom: 94px;

  &-title {
    margin-bottom: 50px;

    font-weight: $bold-font-weight;
    font-size: $font-size-36;
    line-height: $line-height-1-17;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    &-list {
      display: flex;
    }
  }

  &-item:not(:last-child) {
    margin-right: 30px;
  }

  &-thumb {
    position: relative;
  }

  &-img {
    display: block;
  }

  &-div {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 27px 0;
    background-color: rgba(47, 48, 58, 0.8);
  }

  &-subtitle {
    font-weight: $bold-font-weight;
    font-size: $font-size-14;
    line-height: $line-height-1-14;
    text-align: center;
    text-transform: uppercase;

    color: $white-text-color;
  }
}
