.user-form {
  width: 100%;
  max-width: 448px;

  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  &__field {
    display: flex;
    flex-direction: column;
  }

  &__label-title {
    display: flex;
    padding-bottom: 4px;

    font-size: 12px;
    line-height: $line-height-1-17;
    letter-spacing: 0.01em;

    color: $second-text-color;
  }

  &--position {
    position: relative;
  }

  &__input {
    height: 40px;
    padding: 12px 12px 12px 42px;

    @media screen and (max-width: 767px) {
      width: 100%;
      max-width: 370px;
    }

    @media screen and (min-width: 768px) {
      width: 100%;
      max-width: 448px;
    }
  }

  &__comment {
    padding: 12px 16px 12px;
    display: block;
    resize: none;
    height: 120px;

    @media screen and (max-width: 767px) {
      width: 100%;
      max-width: 448px;
    }

    @media screen and (min-width: 768px) {
      width: 100%;
      max-width: 448px;
    }
  }

  &__comment::placeholder {
    font-size: $font-size-14;
    line-height: $line-height-1-17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &__input,
  &__comment {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;

    @include transit(border);
  }

  &__field:nth-child(-n + 3) {
    margin-bottom: 10px;
  }

  &__field:nth-child(4) {
    margin-bottom: 20px;
  }

  &__input:hover,
  &__input:focus,
  &__field:hover &__input,
  &__field:focus &__input,
  &__comment:hover,
  &__comment:focus,
  &__field:hover &__comment,
  &__field:focus &__comment {
    border: 1px solid $accent-color;
    cursor: pointer;

    @include transit(border);
  }

  &__icon:hover,
  &__icon:focus,
  &__input:hover &__icon,
  &__input:focus &__icon,
  &__field:hover &__icon,
  &__field:focus-within &__icon {
    color: $accent-color;
    cursor: pointer;

    @include transit;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 18px;
    color: $first-text-color;
    fill: currentColor;
  }
}
