/* Customers */
.customers {
  padding: 94px 0;

  &-title {
    margin-bottom: 50px;

    font-weight: $bold-font-weight;
    font-size: $font-size-36;
    line-height: $line-height-1-17;
    text-align: center;

    color: $first-text-color;
  }

  &-list {
    display: flex;
  }

  &-link.link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    color: $icon-inactive-color;
    border: 1px solid $icon-inactive-color;
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-link:hover,
  &-link:focus {
    color: $accent-color;
    border: 1px solid $accent-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-item:not(:last-child) {
    margin-right: 30px;
  }

  &-icon {
    fill: currentColor;
  }
}
