/* Social media in the footer */
.join-footer {
  padding-top: 72px;
  margin-left: auto;
}
.join-title {
  margin-bottom: 20px;
}

.join-title,
.label-text {
  font-weight: $bold-font-weight;
  font-size: $font-size-14;
  line-height: $line-height-1-14;
  text-transform: uppercase;
  color: $white-text-color;
}

.join {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 93px;

  &-link.link {
    display: inline-flex;
    align-items: center;
    height: 44px;
    width: 44px;
    color: $white-text-color;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    @include transit(background-color);
  }

  &-icon {
    fill: currentColor;
  }

  &-link:hover,
  &-link:focus {
    background-color: $accent-color;

    @include transit(background-color);
  }

  &-item:not(:last-child) {
    margin-right: 10px;
  }
}
