/* Common logo */

.logo {
  font-family: $second-font-family;
  font-weight: $bold-font-weight;
  font-size: 26px;
  line-height: 1.2;

  color: $logo-black-color;

  &-web {
    color: $accent-color;
  }

  &-studio {
    color: $white-text-color;
  }

  &--footer {
    margin-bottom: 10px;
  }
}
