.header {
  display: flex;
  align-items: center;

  &-logo {
    display: flex;
    align-items: center;
    margin-right: 93px;
  }

  &-nav {
    display: flex;
  }

  &--portfolio {
    border-bottom: 1px solid #ececec;
  }
}
