$first-text-color: #212121;
$second-text-color: #757575;
$white-text-color: #ffffff;
$accent-color: #2196f3;
$main-background-color: #ffffff;
$dark-background-color: #2f303a;
$second-background-color: #f5f4fa;
$header-frame-color: #ececec;
$main-frame-color: #eeeeee;
$bottoms-inactive-color: #f5f4fa;
$logo-black-color: #000000;
$icon-inactive-color: #afb1b8;
$footer-contacts-color: rgba(255, 255, 255, 0.6);

$main-font-family: 'Roboto', sans-serif;
$second-font-family: 'Raleway', sans-serif;

$animation-time: 250ms;
$animation-function: cubic-bezier(0.4, 0, 0.2, 1);

$normal-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;
$heavy-font-weight: 900;

$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-36: 36px;

$line-height-1-14: 1.14;
$line-height-1-17: 1.17;
$line-height-1-71: 1.71;
$line-height-1-86: 1.86;
